.form__btn {
  padding: 8px;
  outline: none;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  color: inherit;

  &:hover:not(:disabled),
  &:focus:not(:disabled),
  &::focus-visible:not(:disabled) {
    border-color: rgba(22, 119, 255, 1);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}