.getNew {
  .content {
    &__title {
      margin-bottom: 4px;
    }

    &__descr {
      font-size: 18px;
      font-weight: 400;
    }
  }

  .form {
    &__input {
      display: flex;
      gap: 10px;

      .input {
        padding: 0;
        width: calc((100% - 50px)/6);
        aspect-ratio: 53/60;
        text-align: center;
      }

      .input--error {
        border-color: #ff4444 !important;
      }
    }

    &__btn {
      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
}